{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<table class="table">
    <tr>
      <th>Ranking</th>
      <th>Jugador</th>
      <th>Rating</th>
      <th>Categoría</th>
      <th>Partidas</th>
    </tr>
    {% for ranking, player, rating, category, rated_games in sorted_ratings %}
    {% if ranking == "(inactivo)" %}
    <tr class="jugador-inactivo">
    {% else %}
    <tr>
    {% endif %}
      <td>{{ ranking }}</td>
      <td>{% if player.is_aago_member %} <img src="{% static 'images/aago-logo.jpg' %}" />{% endif %} {{ player.name }}</td>
      <td>{{ rating|floatformat:"3" }}</td>
      <td>{{ category }}</td>
      <td>{{ rated_games}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
