{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<table class="table">
    <tr>
      <th>Ranking</th>
      <th>Jugador</th>
      <th>Rating</th>
    </tr>
    {% for player, rating in sorted_ratings %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{% if player.is_aago_member %} <img src="{% static 'images/aago-logo.jpg' %}" />{% endif %} {{ player.name }}</td>
      <td>{{ rating|floatformat:"3" }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
