{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<table class="table">
    <tr>
      <th>Ranking</th>
      <th>Jugador</th>
      <th>Partidas</th>
      <th>Rating</th>
      <th>Categoría</th>
    </tr>
    {% for ranking, player, rated_games, rating, category, css_classes in sorted_ratings %}
    <tr class="{{css_classes}}">
      <td>{{ ranking }}</td>
      <td><div style="float:left;width:90%;" >{% if player.is_aago_member %}<a href="http://go.org.ar/jugadores/perfilRango.php?usuario={{player.id}}">{% endif %}{{ player.name }}{% if player.is_aago_member %}</a>{% endif %}</div>
          <div style="float:right;width:10%;">{% if player.is_aago_member %} <img src="{% static 'images/aago-logo.jpg' %}" />{% endif %}</div>
      </td>
      <td>{{ rated_games}}</td>
      <td>{{ rating|floatformat:"3" }}</td>
      <td>{{ category }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
